version: "3"

services:
  nextjs-nav:
    container_name: nextjs-nav
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
