version: "3"

services:
  dev-portal:
    container_name: dev-portal
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
