@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bg-hover: rgba(0, 0, 0, 0.04);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bg-hover: rgba(255, 255, 255, 0.1);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
